name: main
"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.3
      - name: Test
        run: |-
          go install cuelang.org/go/cmd/cue
          go test ./...
      - name: Evaluate infra code
        run: |-
          go generate ./infra/...
          cue export -e terraform ./infra/deployment --out cue
